.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    background-color: rgb(194, 44, 161);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
    .contact-footer {
        display: flex;
        align-items: center;
        margin-right: 20px;
        pene
    }
}