<!-- img: 
https://www.pinclipart.com/picdir/middle/132-1325332_husky-svg-purple-dream-league-soccer-wolves-logo.png
-->

<header class="header">
  <div class="header-logo">
    <img
      class="header-logo-image"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
      alt="logo"
    />
  </div>
  <div class="header-left">
    <div class="header-cart">
      <img src="#" alt="cart" />
      <!--<span>{{ cart.length }}</span> -->
    </div>
    <div class="header-search">
      <input type="text" placeholder="Search" />
      <button>
        <img src="#" alt="search" />
      </button>
    </div>
  </div>
</header>
