.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    background-color: rgb(194, 44, 161);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
    .header-logo {
        font-size: 2px;
        font-weight: bold;
        color: #fff;
    }
    
    //minimaze logo to fit in header
    .header-logo-image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    //search item on right side of header
    .header-left {
    
     display: flex;
    
     .header-search {
        display: flex;
        align-items: center;
    }
   
    .header-cart {
        display: flex;
        align-items: center;
    }
    }

}

