<form [formGroup]="newProductForm">
  <label for="id"> Id: </label>
  <input id="id" type="number" formControlName="id" />
  <br />
  <label for="title"> Title: </label>
  <input id="title" type="text" formControlName="title" />
  <br />
  <label for="price"> Price: </label>
  <input id="price" type="number" formControlName="price" />
  <br />
  <label for="description"> Description: </label>
  <input id="description" type="text" formControlName="description" />
  <br />
  <label for="category"> Category: </label>
  <input id="category" type="text" formControlName="category" />
  <br />
  <div *ngIf="!newProductForm.valid">
    <h6 style="color: red">All fields are required</h6>
  </div>
  <button [disabled]="!newProductForm.valid" (click)="updateToCart()">
    Add Item
  </button>
</form>
<!--validation form-->

<!--
<div *ngIf="heroForm.errors?.['identityRevealed'] && (heroForm.touched || heroForm.dirty)" class="cross-validation-error-message alert alert-danger">
  Name cannot match alter ego.
</div>
-->
