<div class="app">
  <app-header class="header"></app-header>
  <main class="main">
    <app-products-list class="app-products-list"></app-products-list>
    <app-products-form class="products-form"></app-products-form>
    <router-outlet></router-outlet>
  </main>
  <app-footer class="footer"></app-footer>
</div>
