<!--
  dentro una lista ci stanno SOLO gli item (li)
  mettere uno spinner per item è SOLO una grafica
  non cambia nulla a livello logico, 
  perché dovrebbe sapere il n di item tot prima di caricarli.
  effetto grafico =/= effetto logico
  es: h1 nel ul NO
  
  impaginazione:
  - tema di responsiveness, esempio a tutto schermo o a mobile, tutti si deve adattare
    si fa solo se è preposto a tema di html tutto
  - header con logo, titolo, search, cart
  - al click dell'item mi visualizza al centro la pagina
  - anche footer con copyright, social media, ecc
  - flex: gestisce una lista di item, ed per ognuno gestisti quanto spazio c’è, 
    flex ha UNA solo dim verticale od orizzontale
  - grid: impost una griglia su come mettere le cose in un determinato spazio
  - chi decide le dimensioni è il padre, non il figlio, da app.css
  - 1 problema CSS, 2 è il click, che devo visualizzare il dettaglio 
    dell'item cliccato
  - routing: per farli parlare tra loro, perché non si può fare una pagina per ogni item
  - struttura pagina, pezzo centrale, finire i test
--><!--
  dentro una lista ci stanno SOLO gli item (li)
  mettere uno spinner per item è SOLO una grafica
  non cambia nulla a livello logico, 
  perché dovrebbe sapere il n di item tot prima di caricarli.
  effetto grafico =/= effetto logico
  es: h1 nel ul NO
  
  impaginazione:
  - tema di responsiveness, esempio a tutto schermo o a mobile, tutto si deve adattare
    si fa solo se è preposto a tema di html tutto
  - header con logo, titolo, search, cart
  - al click dell'item mi visualizza al centro la pagina
  - anche footer con copyright, social media, ecc
  - flex: gestisce una lista di item, ed per ognuno gestisti quanto spazio c’è, 
    flex ha UNA solo dim verticale od orizzontale
  - grid: impost una griglia su come mettere le cose in un determinato spazio
  - chi decide le dimensioni è il padre, non il figlio, da app.css
  - 1 problema CSS, 2 è il click, che devo visualizzare il dettaglio 
    dell'item cliccato
  - routing: per farli parlare tra loro, perché non si può fare una pagina per ogni item
  - struttura pagina, pezzo centrale, finire i test
-->

<!--
    <a [routerLink]="['/products', product.id]">
      <img [src]="product.image" />
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
    </a>
  </li>
</ul>
-->

<div *ngIf="isloading">SPINNER WORKING IN PROGRESS</div>
<ul class="product-list" *ngIf="!isloading">
  <li class="product" *ngFor="let product of products">
    <a [routerLink]="['/products', product.id]">
      <img
        class="product-image"
        src="{{ product.image }}"
        alt="{{ product.title }}"
      />
      <h3 class="product-title">
        {{ product.title }}
      </h3>
      <p class="product-description">
        {{ product.description }}
      </p>
      <div class="product-price">
        {{ product.price | currency }}
      </div>
    </a>
  </li>
</ul>
