.product-list {
  width: 350px;
  margin-left: 30px;

  .product {
    margin-bottom: 60px;
    list-style: none;

    &-image {
      max-width: 50%;
      display: block;
      margin: auto;
    }

    &-title {
      margin: 30px 0 10px;
    }

    &-description {
      margin-bottom: 20px;
    }

    &-price {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
